################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Middlware/v16
/.vs
/WenAppMiddleware/.vs/WenAppMiddleware
/WenAppMiddleware/WenAppMiddleware/bin/Debug/netcoreapp3.1
/WenAppMiddleware/WenAppMiddleware/obj/Debug/netcoreapp3.1/staticwebassets
/WenAppMiddleware/WenAppMiddleware/obj
